/*TODO:
    1. fix footer to bottom.
*/

/************************   GENERAL   **********************/

body {
    overflow-x: hidden;
    background-image: url("../Images/pacman-background.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

#main_container {
    height: 70%;
    width: inherit;
}

canvas
{
    vertical-align: middle;
    z-index: 0;
}

/************************   HEADER, FOOTER   **********************/

#logo_div, #footer_div {
    height: 15%;
    z-index: 1;
    font-size: 30px;
    font-family: "Berlin Sans FB", serif;
    border-radius: 25px;
    background-image: url("../Images/logo-footer-background.jpg");
    /*background-attachment: fixed;*/
    background-repeat: round;
}

#logo_table {
    padding-left: 150px;
}

#logo_table td {
    padding-right: 50px;
}

#logo_div {
    padding-left: 10px;
}

#logo_div span {
    font-size: 40px;
}


#logo_cell {
padding-left: 100px;
padding-right: 150px;
}

#logo
{
width: 400px;
height: 105px;
cursor:pointer;
}

#footer_div {
    padding-top: 10px;
    text-align: center;
}

#footer_wrapper{
    transition: margin-left .5s;
    padding: 16px;
    width: 98%;
    bottom: 0;
    position: relative;
}

/************************   UPPER CONTENT   **********************/

.upper_screen {
    padding-left: 20px;
    font-size: 20px;
}

#menu-button span{
    font-size: 40px;
}

#logout_button_div {
    padding-left: 20px;
    margin-bottom: 20px;
}

#upper_user {
    /*text-shadow: #a2a2a2 1px 1px 0, 2px 2px 2px rgba(206,89,55,0);*/
    color: #0f141c;
    background: #5c6e95;
    border-radius: 20px;
    padding: 10px;
    font-family: Elephant, serif;
}

#logout_button {
    /*text-shadow: #a2a2a2 1px 1px 0, 2px 2px 2px rgba(206,89,55,0);*/
    color: #0f141c;
    background: #5c6e95;
    border-radius: 28px;
    font-family: Elephant, serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#logout_button:hover {
    background: #225e86;
    background-image: -webkit-linear-gradient(top, #3288c7, #266998);
    background-image: -moz-linear-gradient(top, #3288c7, #266998);
    background-image: -ms-linear-gradient(top, #3288c7, #266998);
    background-image: -o-linear-gradient(top, #3288c7, #266998);
    background-image: linear-gradient(to bottom, #3288c7, #266998);
    text-decoration: none;
}

/************************   SIDE-MENU   **********************/

.inline-divs {
    width: 98%;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

#side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

#side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor:pointer;
}

#side-menu a:hover {
    color: #f1f1f1;
}

#side-menu #closeMenu {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-wrapper {
    transition: margin-left .5s;
    padding: 16px;
    width: 98%;
}

@media screen and (max-height: 450px) {
    #side-menu {padding-top: 15px;}
    #side-menu a {font-size: 18px;}
}

/************************   WELCOME SCREEN   **********************/

#welcome_div {
    text-align: center;
}

.welcome_buttons {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #cc953d));
    background:-moz-linear-gradient(top, #ffec64 5%, #cc953d 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #cc953d 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #cc953d 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #cc953d 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #cc953d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#cc953d',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:2px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-size:50px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
    padding:32px 76px;
    white-space: nowrap;
    font-family: "Berlin Sans FB", serif;
}

.welcome_buttons:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc953d), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #cc953d 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #cc953d 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #cc953d 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #cc953d 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #cc953d 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc953d', endColorstr='#ffec64',GradientType=0);
    background-color:#cc953d;
}

#welcome_buttons_table td {
    padding-right: 100px;
    padding-bottom: 50px;
    font-family: "Berlin Sans FB", serif;
}

#welcome_image {
    width: 500px;
    height: 300px;
}

#buttons_div {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 50px;
}

#login_button {
    margin-right: 20px;
    margin-left: 100px;
}

/************************   LOGIN SCREEN, REGISTER SCREEN, SETTINGS SCREEN   **********************/

#login_back_button, #register_back_button {
    padding-top: 10px;
    padding-right: 12px;
}

.form_divs {
    font-family: 'Open Sans Condensed', arial, sans, serif;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
}

.form_divs h2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form_divs div input[type="text"],
.form_divs input[type="password"],
.form_divs div input[type="date"],
.form_divs div input[type="color"],
.form_divs div input[type="number"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

#login_submit_button button, #login_back_button button,
#register_submit_button button, #register_back_button button,
#submit_pre_game button, #random_button button{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

#login_submit_button button:hover, #login_back_button button:hover,
#register_submit_button button:hover, #register_back_button button:hover,
#submit_pre_game button:hover, #random_button button:hover{
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.settings_labels {
    font-size: 20px;
    font-family: "Bernard MT Condensed", serif;
}

.error {
    color: red;
}

.button_images {
    font-size:26px;
}

/************************   FORMS   **********************/

form div {
    display: block;
    padding-bottom: 5px;
}

form input {
    display: block;
    width: 100%;
}

/************************   ABOUT MODAL   **********************/

#about_div {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: auto;
    border: 1px solid #888;
}

#modal-content {
    background-color: lightblue;
    margin: auto;
    padding: 20px;
    border: 2px solid darkblue;
    width: 50%;
    border-radius: 10px;
}

#close_modal_button {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    top: 0;
    margin-left: 99%;
}

#close_modal_button:hover,
#close_modal_button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.about_content {
    font-family: "Berlin Sans FB", serif;
}

#about_base_content {
    font-size: 20px;
}

/************************   GAME SCREEN   **********************/

#game_screen {
    border-radius: 50px;
    margin-top: 20px;
    width: 1050px;
    height: 880px;
    /*background: white;*/
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%, rgb(57, 57, 57) 100%);
    /*background: linear-gradient(to bottom, rgba(119,124,133,1) 0%,rgba(74,74,74,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(90,93,100,1) 0%,rgba(56,56,56,1) 100%);*/
}

.game_labels {
    font-weight: bold;
    font-size: 20px;
    font-family: "Berlin Sans FB", serif;
    color: yellowgreen;
}

.game_inputs {
    border-radius: 50px;
}

.fa_custom {
    color: red;
}

#lives {
    display: inline-block;
}

#volume_off_button, #volume_on_button {

}